<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
   <section class="contenedor1">  
    <strong> Otro texto en negrilla</strong>
    <p class="parrafo-destacado">Lorem ipsum, dolor sit amet <em>aqui estamos probando el rojo</em> consectetur adipisicing elit. Quod accusantium sit distinctio 
    commodi soluta in enim error magni eveniet et iste, veritatis voluptatibus a facere eum fuga
    inventore quis optio!</p>

     <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
     </ol>   
     <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
     </ul>
   </section>

</body>
</html>