* {
    box-sizing: border-box;
}
body {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0%;
}
.contenedor1{
    width: 50%;
    padding: 20px;
    margin: auto;
    background-color: cadetblue;
    border: solid 5px black;
}
@media (min-width:570px){
    .contenedor1{
        width: 70%;
        background-color: blue;
        border: solid 10px green;
        color: white;
    }
}
h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
}
h4{
    font-size: 35px;
}

p{
    font-size: 17px;
    line-height: 25px;
}

p strong{
    background-color: orange;
    color: white;
    font-style: italic;
}

strong{
    color: green;
}
